@charset "utf-8";
.CaixaDeTexto {
	background-color: #FDFBFB;
	border: 1px solid #BBBBBB;
	padding: 8px 10px 8px 10px;
	margin: 1px;
	font-size: 18px;
	color: #808080;
	width: 250px;
	height: 25px;
	font-family: Verdana;
}
#button {
	background-image: url(../images/botao.gif);
	cursor: pointer;
	border: 0;
	width: 150px;
	height: 30px;
	color: #FFFFFF;
}
